// you can change colors here
// 变量写入
// https://theme-hope.vuejs.press/zh/config/style.html#config-scss
$theme-color: #3eaf7c;

// background-color
$mt-bg-color: rgba(62, 175, 124, 0.3);
$mt-bg-color-secondary: rgba(62, 175, 124, 0.2);
$mt-bg-color-tertiary: rgba(62, 175, 124, 0.1);

// border-color
$mt-border-color: rgba(62, 175, 124, 0.5);
$mt-border-color-default: #dedede;
